<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    {{> header}}
</head>

<body>
    <img src="/img/TSPN_logo.png" alt="TSPN Logo" class="top-left-logo"> <!-- Add your logo here -->

    {{{body}}}
    {{> footer}}
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>