<div class="main-content">
<h2 class="mt-2 text-center">About Us</h2><br>
    <h5 class="mt-2 text">The Scottish Pantry Network (TSPN) is dedicated to reducing food waste and alleviating food insecurity in
        Scotland amidst the cost of living crisis. By connecting local growers with food pantries, TSPN facilitates the
        distribution of surplus fruits and vegetables to those in need.<br><br></h5>
        <h5 class="mt-2 text"><i>We believe that no one should go hungry in Scotland, and we are committed to making food
        accessible to all.</i></h5>
</div>