<div class="main-content">
  <h4 class="text-center my-4">Admin Dashboard</h4>
  <div class="grid-container">
    <a href="/admin/managePantryManagers" class="btn btn-primary grid-item">Manage Pantry Managers</a>
    <a href="/admin/managePantries" class="btn btn-primary grid-item">Manage Pantries</a>
    <a href="/admin/managePantriesAndManagers" class="btn btn-primary grid-item">Manage Pantries and Managers</a>
    <a href="/admin/messages" class="btn btn-primary grid-item">Manage Messages</a>
    <a href="/admin/manageGrowers" class="btn btn-primary grid-item">Manage Growers</a>
  </div>
</div>