<div class="main-content">
  <body>
    <div style="text-align: center;">
      <h4>Are you sure you want to delete this item?</h4>
      <h5>{{food.name}}</h5>
      <h5>{{food.description}}</h5>
      <button onclick="location.href='/deleteItemConfirmed/{{itemId}}'">Yes</button>
      <button onclick="location.href='/centralRepo'">No</button>
    </div>
  </body>
</div>