<div class="main-content">
  {{#if user}}
  <div class="flex-container">
    <a href="/centralRepo" class="btn btn-primary flex-item">View Food Hub/a>
    <a href="/growersList" class="btn btn-primary flex-item">View Our Food Donators List</a>
    <a href="/pantriesList" class="btn btn-primary flex-item">View Our Pantries List</a>
  </div>
  {{else}}
  <h4 class="text-center my-4">Get Involved as a Food Donator</h4>
  <p>If you're looking to join our efforts and donate food, start by registering as a Food Donator. Once registered, reach out
    for application review and approval through the "Contact Us" link above.</p>
  <p>Your account will be fully active once an administrator approves your participation. We thank you for your interest
    in supporting our community and will review your submission promptly.</p>
  {{/if}}
</div>