<div class="main-content form-container">
  <form action="/submitMessage" method="POST" class="message-form">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" required></textarea><br>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</div>